<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Laba37.Properties.Settings.unverConnectionString"
            connectionString="server=localhost;user id=root;password=NikitA6175qwe15109;persistsecurityinfo=True;database=unver"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>